.top-buffer { margin-top:30px; }
.bottom-buffer { margin-bottom:30px; }
.image-spacing { margin-bottom:20px; }

body { 
	font-family: 'Antic Didone', serif;
/*	font-size: 18px; 
	line-height: 26px;*/
}

h1 { font-size: 50px; font-family: 'Didot' }

p { text-align:justify; }

.kloss {
	padding-top: 60px;
}

.series a {
	color: #99B;
	font-size: 16px;
}

.firstletter {
	float: left;
	font-size: 4.3em;
	line-height: 1;
	font-weight: bold;
	margin-right: 0.05em;
	margin-bottom: 0em;
	margin-left: -0.15em;
}

.self-pic {
	
}