---
layout: base
---

<div class="row bottom-buffer">
    <div class="span12 pagination-centered series">
    	<a href="/galleri/vav.html">V&aumlv</a> |
        <a href="/galleri/broderier.html">Broderier</a> | 
        <a href="/galleri/mattor.html">Mattor</a> | 
        <a href="/galleri/lov.html">L&oumlv</a> | 
        <a href="/galleri/monster.html">M&oumlnster</a>
    </div>
</div>

<div class="row">
    <div class="span12 pagination-centered">
        <h1 class="">{{ page.title }}</h1>
    </div>
</div>

{{ content }}